noderedex/flows.json
[
    {
        "id": "6b8705f7.04d07c",
        "type": "tab",
        "label": "FirstFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "57606f57.d7e0c",
        "type": "tab",
        "label": "Hello World",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e12ba88c.ba2318",
        "type": "tab",
        "label": "CSS Tutorial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc535e8b.e9d2a",
        "type": "inject",
        "z": "6b8705f7.04d07c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 105.5,
        "y": 167.14999389648438,
        "wires": [
            [
                "68e44ff3.8390d"
            ]
        ]
    },
    {
        "id": "d06a4f80.58ebd",
        "type": "debug",
        "z": "6b8705f7.04d07c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "68e44ff3.8390d",
        "type": "function",
        "z": "6b8705f7.04d07c",
        "name": "First Function",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload)\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString()\n// Return the message so it can be sent on\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "d06a4f80.58ebd"
            ]
        ]
    },
    {
        "id": "38df80bc.bbaff",
        "type": "http in",
        "z": "57606f57.d7e0c",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 134.5,
        "y": 210.14999389648438,
        "wires": [
            [
                "e30a5f82.646d"
            ]
        ]
    },
    {
        "id": "e30a5f82.646d",
        "type": "template",
        "z": "57606f57.d7e0c",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <link rel=\"stylesheet\"\n        type=\"text/css\" href=\"first.css\">\n    </head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 261.5,
        "y": 313.4499816894531,
        "wires": [
            [
                "a447d43a.26d208"
            ]
        ]
    },
    {
        "id": "a447d43a.26d208",
        "type": "http response",
        "z": "57606f57.d7e0c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 453.5,
        "y": 394.29998779296875,
        "wires": []
    },
    {
        "id": "1fc67222.c8485e",
        "type": "http in",
        "z": "e12ba88c.ba2318",
        "name": "",
        "url": "/csstutorial/syntax",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 158.5,
        "y": 174.14999389648438,
        "wires": [
            [
                "ebeca6ce.cadd48"
            ]
        ]
    },
    {
        "id": "9c72507e.25271",
        "type": "http response",
        "z": "e12ba88c.ba2318",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 504.5,
        "y": 435.29998779296875,
        "wires": []
    },
    {
        "id": "ebeca6ce.cadd48",
        "type": "template",
        "z": "e12ba88c.ba2318",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <link rel=\"stylesheet\"\n        type=\"text/css\" href=\"/csstutorial/syntax.css\">\n    </head>\n    <body>\n        <h1 class='center'>Hello World!</h1>\n        <h2 class='right'>Smaller heading!</h2>\n        <p class='center'>This is a paragraph.</p>\n    </body>\n</html>",
        "output": "str",
        "x": 310.5,
        "y": 264.4499816894531,
        "wires": [
            [
                "9c72507e.25271"
            ]
        ]
    },
    {
        "id": "c96228b6.0407a8",
        "type": "http in",
        "z": "57606f57.d7e0c",
        "name": "Root",
        "url": "/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "caf2dcf3.ace41"
            ]
        ]
    },
    {
        "id": "caf2dcf3.ace41",
        "type": "template",
        "z": "57606f57.d7e0c",
        "name": "Load Index.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<head>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n\n</head>\n<body>\n\n<p>\n</p>\n<a href=\"/index.html\">link text</a>\n</body>\n</html>",
        "output": "str",
        "x": 268.5,
        "y": 559,
        "wires": [
            [
                "a447d43a.26d208"
            ]
        ]
    },
    {
        "id": "268f048a.53937c",
        "type": "inject",
        "z": "6b8705f7.04d07c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "42bd1b32.5692a4"
            ]
        ]
    },
    {
        "id": "42bd1b32.5692a4",
        "type": "change",
        "z": "6b8705f7.04d07c",
        "name": "Store time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "49fc309f.709b4",
        "type": "http in",
        "z": "6b8705f7.04d07c",
        "name": "",
        "url": "/hello-data",
        "method": "get",
        "swaggerDoc": "",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "c71c578b.9b0a78"
            ]
        ]
    },
    {
        "id": "c71c578b.9b0a78",
        "type": "change",
        "z": "6b8705f7.04d07c",
        "name": "Copy time",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "timestamp",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "16ebc2b4.b5661d"
            ]
        ]
    },
    {
        "id": "16ebc2b4.b5661d",
        "type": "template",
        "z": "6b8705f7.04d07c",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>",
        "x": 530,
        "y": 580,
        "wires": [
            [
                "e3c094e5.9fc648"
            ]
        ]
    },
    {
        "id": "e3c094e5.9fc648",
        "type": "http response",
        "z": "6b8705f7.04d07c",
        "name": "",
        "x": 670,
        "y": 580,
        "wires": []
    }
]